dataset_np/
dataset/
raw_dataset/
dataset/Frontal/
dataset/Left45/
*.zip
modelos/
np_dataset/
foto_aug/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-result-fontal valid/
alexnet-result-right45-same/
alexnet-result-right90-same/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
masks/
RGB/
aug_dataset/
dataset_aug/
modelos/
history/
Termografias_Dataset_Segmentação/
runs/segment/
np_dataset_v2/
yolov8x-seg.pt
yolov8m-seg.pt
yolo11n.pt
Unet_dataset/
raw_png_dataset/
filtered_raw_dataset/
Yolo_dataset_aug_10_05/
Yolo_dataset_10_05/

dataset_np/
dataset/
raw_dataset/
*.zip
modelos/
np_dataset/
foto_aug/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-result-right45-same/
alexnet-result-right90-same/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
masks/
RGB/
aug_dataset/
dataset_aug/
modelos/
history/
boxplots/
venv/
.venv/
__pycache__/
Termografias_Dataset_Segmentação/
Yolo_dataset/
runs/segment/
Yolo-Yolo_dataset/
/Yolo-data-old/
Yolo-binary-masks-val/
Yolo-binary-masks-img/
images-yolo
output_masks_total/
yolo-data
output_segmented_healthy
output_segmented_sick
output_segmented_total
train_pacients
train_patientes_healthy
train_patientes_sick

# modelos
yolo11n.pt
yolov8n-seg.pt
np_dataset_v2/
yolov8x-seg.pt
yolov8m-seg.pt
yolo11n.pt
Unet_dataset/

segmented_yolonano_frontal/
seed_value_seg.txt
yolo_dataset_nano
random_seed_vgg.txt

analysis_yolo_nano/
Unet/
Yolo-x/
yolo_nano_model/Yolo_dataset_aug/
Yolo_dataset_AUG/
AUG_dataset_v2/
Unet_dataset_AUG/
raw_png_dataset/
filtered_raw_dataset/
Yolo_dataset_aug_10_05/
Yolo_dataset_10_05/
splits/
teste_imgs_X/
teste_imgs_X_segmented/
teste_imgs_X_segmented_s_padding/
Yolo_dataset_10_05_padding/
teste_imgs_X_tr_segmented_unet/
teste_imgs_X_tr_segmented_yoloN/
teste/
Testando_imagens/
teste2/
teste_imgs_resized_0.0/
teste_imgs_resized_1.0/
teste_imgs_resized_2.0/
teste_test_yolo/
teste_train_yolo/
teste_val_yolo/

dataset_fold/
runs/
yolo_datasets/
yolov8s-cls.pt
testandoLETTERBOX/
testandoLETTERBOX_1/
dataset_fold_1/

CAM_results*
testandoLETTERBOX_preto/

Confusion_Matrix/

modelofab.pt

Resultados/

Termografias_Dataset_Segmentação_224/
Termografias_Dataset_Segmentação_224_BlackPadding/
Termografias_Dataset_Segmentação_224_Distorcao/
Termografias_Dataset_Segmentação_224_GrayPadding/
Yolo_dataset_BlackPadding/
Yolo_dataset_Distorcao/
Yolo_dataset_GrayPadding/
segmente_test/



yolo_nano_model/
visualizacoes_modelos/
logs/
MapasCalor/
imgs-ufpe-frontal/
debug_output/
ufpe_thermal/
ufpe_temp/
ufpe_temp/
ufpe_thermal/
spam/
yolo_nano_model/
uff_no_pad/
(SEM PAD) PreTrained_VGG16_AUG_JET_BlackPadding_Frontal_F0/
imagens_transformadas_healthy_txt/
imagens_transformadas_healthy/
uff_no_pad_255/
uff_no_pad_norm/
uff_no_pad_png/
compare.txt

recovered_data/
processed_images_no_pad/
processed_images/
output_HeatMaps_cm/
uff_no_pad/

RecuperandoResultados_2/
RecuperandoResultados/

ComparacaoResnetF0/
ComparacaoResnetF1/
ComparacaoResnetF2/
ComparacaoResnetF3/
ComparacaoResnetF4/

ComparacaoVggF0/
ComparacaoVggF1/
ComparacaoVggF2/
ComparacaoVggF3/
ComparacaoVggF4/

comparacoes/
images_cortadas/
sick_seg_marcador/
healthy_seg_marcador/
cortadas/
imagens_cortadas/

Resultados_UFF_NO_PAD/
Resultados_Retreinamento/
recovered_data_rounded/

Comparacao*
dataset_png/
marcadores_segmentados/
Termografias_Dataset_Segmentação_Marcadores/

Yolo_dataset_marcadores/
Yolo_dataset_marcadores_two_classes/
dataset_two_classes_yolo/
dataset_yolo_pads/
Resultados_corrigidos_12_10_25/
relatorio_normal_VS_normalNoPad/
relatorio_normal_VS_Seg_normal/
relatorio_normalXnormalNoPad/
relatorio_normalXSeg_normal/

marcadores_segmentados_txt/
Resultados_Finais*
marcadores_segmentados_txt_analise*
Vgg_16
analise_estrategias.txt

YOLO-V11-CAM/
Yolon_Seg_Yolos_cls/
Yolos_Cls/
Yolos_Cls_Seg/
Yolos_Cls_SegPAD/
Yolos_Cls_UFF_NO_PAD/
Yolos_Seg_Yolos_cls/
heatmaps/
recovered_data_no_pad/
yolo_cam/
dataset_mesclado_compativel/
Yolos_Cls_metade_marcador/
dataset_mesclado_compativel/
caminhos_split/
boxplots/
amostras_split/
Resultados_Finais_VGG_Yolon/

temperatura_recuperada.txt
yolov8n-cls.pt
relatorio_normal_VS_balanceamentoMarcadores/
relatorio_normal_VS_balanceamentoMarcadores_orig_test/ 
processed_images(pad 28x28px)/
processed_images(pad 28x28px)_txt/Frontal/
processed_images(pad 28x28px)_teste_txt/
relatorio_tags_fixas/
processed_images(pad 28x28px)_teste_txt_rounded/
teste_24_11_2/
teste_24_11_2_rounded/
processed_images_padmovido/
processed_images_padmovido_txt/
processed_images_padmovido_txt_rounded/
relatorio_tags_movidas_fixas/
relatorio_tags_fixas_+MapasDeCalor/
Teste_Dataset_Segmentação_txt/
Termografias_Dataset_Segmentação_Frontal_txt_rounded/
Termografias_Dataset_Segmentação_Frontal_txt/
testeSegUnet/
Termografia_Dataset_Segmentação_Frontal_jpg/
Yolo_dataset_8_12/
testeSEGyolo
Termografias_Dataset_Segmentação_jpg_224/
dataset_two_classes_yolo_8_12/
Termografia_dataset_segmentação_two_classes/

.gitignore
dataset_two_classes_yolo_24_12
TagsMasks
Termografia_dataset_segmentação_two_classes_24_12
Termografias_Dataset_Segmentação_TAGS_jpg_224
teste_msk_tag
train2
Yolo_dataset_24_12
yolo_teste_TAG
yolo_teste_TAG_2

maquina_antiga